table {
    background-color: transparent;
    width: 100%;
    border-collapse: collapse;
}

 td {
    border: 1px solid #bbb;
    padding: 8px;
    text-align: left;
    background-color: transparent;
    color: black;
}

th {
    background-color: #e5eaf5;
    color: black;

}

th.sorted {
    color: #ff5722;
}

tr:nth-child(even) {
    background-color: #D7E2DF;
}


@media only screen and (max-width: 960px) {
    .table-responsive {
        overflow-x: auto;
    }

    table {
        th, td {
            font-size: 14px;
            padding: 8px;
        }
    }
}

.pagination-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
}
.kindergarten-filter{

    display: block;
}

.pagination\:number {

    --size: 32px;
    --margin: 6px;
    margin: 0 var(--margin);
    border-radius: 6px;
    background: transparent;
    min-width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 6px;
}

button {

    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background: lighten(#202020, 3%);
}

button.active {
    background-color: #e5eaf5;
    color: #e5eaf5;
}
