
.add-child-form {
  max-width: 500px;
  margin: 20px auto;

  padding: 20px;
  border-radius: 10px;
  background: #a0d2eb;
  box-shadow: 0 4px 10px #a0d2eb;


  @media only screen and (min-width: 200px) and (max-width: 1024px) {

  }
  .form-title {
    text-align: center;
    color: #e5eaf5;
    margin-bottom: 30px;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 20px;

    &.mat-focused .mat-form-field-ripple {
      background-color: #e5eaf5;
    }
  }

  button {
    width: 100%;
    box-shadow: 0 2px 5px #a0d2eb;
    &:hover {
      background-color: #a28089;
    }
  }
}