<mat-card>
    <mat-card-header>
        <mat-card-title>About Us</mat-card-title>
        <mat-card-subtitle>Kindergarten-App</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>Our kindergarten is a vibrant place of learning and fun, where every child is valued and encouraged to explore their potential. With a wide range of activities and a nurturing environment, we strive to provide the best start to every child's educational journey.</p>
    </mat-card-content>
</mat-card>